- content_for :javascripts do
  = javascript_include_tag "/js/#{@porra.id}/scriptSeleccion"


#seleccionables
  = render @p_seleccion

#seleccion
  %h1 Equipos seleccionados
  #divequipos
  #pie_seleccion
    %p
      Equipos en selección:
      %strong#eqs 0
    %p
      Puntos en selección:
      %strong#pts 0

    %button#validar
      Validar Selección



