article{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;

	background:#000 url("/images/bgimage.gif") repeat-x 0 -40px;
	margin:3em 0;
	padding:20px;

	text-shadow:0 2px 0 black;

    .line{
        background-color:#550000;
        border-bottom-color:#204656;
        margin:1.3em 0;
        height:1px;
        border-bottom:1px solid #551111;
        margin:1em 0;
        overflow:hidden;
    }
}

.caja{
    padding: 5px 20px 5px 20px;
    width:90%;
    box-shadow: 10px 10px 5px #550000;
    -moz-box-shadow: 10px 10px 5px #550000;
    -webkit-box-shadow: 10px 10px 5px #550000;
}


#borrar{
    padding:10px;
}

.derecha{
    text-align:right;
}

.izquierda{
    float:left;
}
