nav{
    display:block;
    margin:0 auto 20px;
    border:1px solid #555;
    position:relative;
    background-color: #888;
    font-size:18px;
    font-family:Verdana;

    ul{
        padding:0;
        margin:0;

        ul{
            display:none;
            width:100%;
            position:absolute;
            left:0;
            background:#AAA;

            li{
                float:none;

            a{
                padding:5px 10px;
                border-left:none;
                border-right:none;
                font-size:14px;
                color:#6a6a6a;
            }

            a:hover{
                background-color:#555;
            }
        }

        }
    }
    ul:after{
        content:".";
        display:block;
        height:0;
        clear:both;
        visibility:hidden;
    }

    li{
        position:relative;
        float:left;
        list-style-type:none;

        a{
            display:block;
            padding:10 20px;
            border-left:1px solid #555;
        }
        a:focus{
            outline:none;
            text-decoration:underline;
        }
    }

    li:firs-child{
        a{
            border-left:none;
        }
    }

    li.last{
        a{
            border-right:none;
        }
    }

    a{
        span{
            display:block;
            float:right;
            margin-left:5px;
        }
    }
}

.borderradius{
    nav{
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        border-radius:4px;

        ul{
            ul{
                -moz-border-radius-bottomleft:4px;
                -moz-border-radius-bottomright:4px;
                -webkit-border-bottom-left-radius:4px;
                -webkit-border-bottom-rightright-radius:4px;
                border-bottom-left-radius:4px;
                border-bottom-rightright-radius:4px;
            }
        }
    }

    .rgba{
        nav{
            ul{
                ul{
                    li{
                        .last{
                             border-left:1px solid rgba(0,0,0,0.1);
                             border-bottom:1px solid rgba(0,0,0,0.1);
                             -moz-border-radius-bottomleft:4px;
                             -moz-border-radius-bottomright:4px;
                             -webkit-border-bottom-left-radius:4px;
                             -webkit-border-bottom-rightright-radius:4px;
                             border-bottom-left-radius:4px;
                             border-bottom-rightright-radius:4px;
                        }
                    }
                }
            }
        }
    }
}

.cssgradients{
    nav{
        background-image:-moz-linear-gradient(0% 22px 90deg, #555, #888);
        background-image:-webkit-gradient(linear, 0% 0%, 0% 70%, from(#888), to(#555));

        li:hover{
            background-image:-moz-linear-gradient(0% 100px 90deg, #888, #555);
            background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#555), to(#888));
        }
    }

}

.boxshadow.rgba{
    nav{
         -moz-box-shadow:2px 2px 2px rgba(0,0,0,.75);
         -webkit-box-shadow:2px 2px 2px rgba(0,0,0,.75);
         box-shadow:2px 2px 2px rgba(0,0,0,.75);

        ul{
            ul{
                 background-color:rgba(0,0,0,0.8);
                 -moz-box-shadow:2px 2px 2px rgba(0,0,0,.8);
                 -webkit-box-shadow:2px 2px 2px rgba(0,0,0,.8);
                 box-shadow:2px 2px 2px rgba(0,0,0,.8);
            }
        }
    }
}

.rgba{
    nav{
        ul{
            ul{
                li{
                    border-left:1px solid rgba(0,0,0,0.1);
                    border-right:1px solid rgba(0,0,0,0.1);
                }

                a:hover{
                    background-color:rgba(85,85,85,.9);
                }
            }
        }
    }
}

.csstransforms {
    ul {
        a {
            span {
                -moz-transform:rotate(-180deg);
                -webkit-transform:rotate(-180deg);
            }
        }
    }
}
