@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

body, select, input, textarea {
  color: $font-color;
  background-color:$bg-color;
  // Set your base font here, to apply evenly
  font-family: Verdana;
}

//Headers (h1, h2, etc) have no default font-size or margin; define those yourself
h1, h2, h3, h4, h5, h6 {
  // Bold might not be the best choice if you are
  // embedding a @font-face that's already bold
  font-weight: bold;
}

a, a:active, a:visited { color: $link-color; }
a:hover { color: $link-hover-color; }

strong, th {
  font-weight: bold;
}

small {
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  @include font-size(11px);  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


//-----------------------------------
// Add your own custom styles below
//-----------------------------------

body {}

#container {

    margin: 0 auto;
    position: relative;
    width: 960px;
    display:table;
}

header {
    margin: 0 auto;
    position: relative;
    width: 960px;
}

#main {
    display:table-cell;
    width:760px;
}

footer {
    clear:both;
    padding-top:30px;
}

aside{
    display: table-cell;
    width: 200px;
    display: block;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;

	background:#000 url("/images/bgimage.gif") repeat-x 0 -40px;
	margin:3em 0;
	padding:20px;

	text-shadow:0 2px 0 black;

}

h1{
    font-size:15px;
    text-shadow:0 2px 0 #550000;
}



textarea{
    color:#666;
    font-size:14px;
    -moz-border-radius: 8px; -webkit-border-radius: 8px;
    margin:5px 0px 10px 0px;
    padding:10px;
    height:75px;
    width:350px;
    border:#999 1px solid;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    box-shadow: 0 0 5px rgba(81, 203, 238, 0);
    -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
    -moz-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
}

textarea:focus{
    color:#FFF;
    outline:none;
    border:#550000 1px solid;
}

button, label, input[type="button"], input[type="submit"] {
	color: #ffffff;
	padding: 5px 10px;
	background: -moz-linear-gradient(
		top,
		#550000 0%,
		#cc0000);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#550000),
		to(#cc0000));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #999999;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
}
