/* line 14, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 24, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 31, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 33, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 35, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 37, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 39, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 41, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 43, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 45, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 11, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_fonts.scss */
body {
  font-size: 13px;
  font-family: sans-serif;
  line-height: 1.231;
  *font-size: small;
}

/* line 18, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_fonts.scss */
select, input, textarea, button {
  font: 99% sans-serif;
}

/* line 22, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_fonts.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 15, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
html {
  overflow-y: scroll;
}

/* line 17, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
ul, ol {
  margin-left: 2em;
}

/* line 18, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
ol {
  list-style-type: decimal;
}

/* line 20, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
td {
  vertical-align: top;
}

/* line 22, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  bottom: -0.25em;
}

/* line 24, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em;
}

/* line 26, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
textarea {
  overflow: auto;
}

/* line 57, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
a:hover, a:active {
  outline: none;
}

/* line 62, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

/* line 70, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 71, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 72, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 73, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 78, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* line 85, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
button, input, select, textarea {
  width: auto;
  overflow: visible;
  margin: 0;
}

/* line 89, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 100, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
::-moz-selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 101, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
::selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 106, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
a:link {
  -webkit-tap-highlight-color: #ff5e99;
}

/* line 117, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 119, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 124, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_styles.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 10, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_helpers.scss */
.ir {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  background-repeat: no-repeat;
}

/* line 12, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 14, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 50, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 16, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix {
  *zoom: 1;
}
/* line 22, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

@media print {
  /* line 24, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_media.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 26, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_media.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 27, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 28, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 29, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_media.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 30, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 31, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 32, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_media.scss */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 34, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 35, ../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/html5-boilerplate-0.3.3/stylesheets/html5-boilerplate/_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 1, ../../app/stylesheets/partials/_menu.scss */
nav {
  display: block;
  margin: 0 auto 20px;
  border: 1px solid #555;
  position: relative;
  background-color: #888;
  font-size: 18px;
  font-family: Verdana;
}
/* line 10, ../../app/stylesheets/partials/_menu.scss */
nav ul {
  padding: 0;
  margin: 0;
}
/* line 14, ../../app/stylesheets/partials/_menu.scss */
nav ul ul {
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  background: #AAA;
}
/* line 21, ../../app/stylesheets/partials/_menu.scss */
nav ul ul li {
  float: none;
}
/* line 24, ../../app/stylesheets/partials/_menu.scss */
nav ul ul li a {
  padding: 5px 10px;
  border-left: none;
  border-right: none;
  font-size: 14px;
  color: #6a6a6a;
}
/* line 32, ../../app/stylesheets/partials/_menu.scss */
nav ul ul li a:hover {
  background-color: #555;
}
/* line 39, ../../app/stylesheets/partials/_menu.scss */
nav ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 47, ../../app/stylesheets/partials/_menu.scss */
nav li {
  position: relative;
  float: left;
  list-style-type: none;
}
/* line 52, ../../app/stylesheets/partials/_menu.scss */
nav li a {
  display: block;
  padding: 10 20px;
  border-left: 1px solid #555;
}
/* line 57, ../../app/stylesheets/partials/_menu.scss */
nav li a:focus {
  outline: none;
  text-decoration: underline;
}
/* line 64, ../../app/stylesheets/partials/_menu.scss */
nav li:firs-child a {
  border-left: none;
}
/* line 70, ../../app/stylesheets/partials/_menu.scss */
nav li.last a {
  border-right: none;
}
/* line 76, ../../app/stylesheets/partials/_menu.scss */
nav a span {
  display: block;
  float: right;
  margin-left: 5px;
}

/* line 85, ../../app/stylesheets/partials/_menu.scss */
.borderradius nav {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 91, ../../app/stylesheets/partials/_menu.scss */
.borderradius nav ul ul {
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-rightright-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-rightright-radius: 4px;
}
/* line 107, ../../app/stylesheets/partials/_menu.scss */
.borderradius .rgba nav ul ul li .last {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-rightright-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-rightright-radius: 4px;
}

/* line 125, ../../app/stylesheets/partials/_menu.scss */
.cssgradients nav {
  background-image: -moz-linear-gradient(0% 22px 90deg, #555555, #888888);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 70%, from(#888888), to(#555555));
}
/* line 129, ../../app/stylesheets/partials/_menu.scss */
.cssgradients nav li:hover {
  background-image: -moz-linear-gradient(0% 100px 90deg, #888888, #555555);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555555), to(#888888));
}

/* line 138, ../../app/stylesheets/partials/_menu.scss */
.boxshadow.rgba nav {
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
}
/* line 144, ../../app/stylesheets/partials/_menu.scss */
.boxshadow.rgba nav ul ul {
  background-color: rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

/* line 158, ../../app/stylesheets/partials/_menu.scss */
.rgba nav ul ul li {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 163, ../../app/stylesheets/partials/_menu.scss */
.rgba nav ul ul a:hover {
  background-color: rgba(85, 85, 85, 0.9);
}

/* line 174, ../../app/stylesheets/partials/_menu.scss */
.csstransforms ul a span {
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
}
