%ul
  %li
    %a{:href => "#"} Inicio
  %li
    %a{:href => "#"} Panel de Control
  %li
    %a{:href => "#"} Porras
    %ul
      %li
        %a{:href => "#"}porroliga
  %li
    %a{:href => "#"} Porreros
  %li
    %a{:href => "#"} Clasificación
