%ul
  %li.selected.gradient
    %a{:href => "#"} Inicio
  %li.gradient
    %a{:href => "#"} Panel de Control
  %li.gradient
    %a{:href => "#"} Tu cartera
  %li
    %a{:href => "#"} D&amp;B Internacional
  %li
    %a{:href => "#"} Servicios de registro
  %li
    %a{:href => "#"} Concursos y subvenciones
  %li
    %a{:href => "#"} Valoración de empresas
  %li.more
    %a{:href => "#"} Más Productos
